*{
    box-sizing: border-box;
}
body{
    background-color: rgb(15, 12, 19);
    transition: background-color 0.25s ease, color 0.25s ease;
}

#divSuperiorMenu{
    width: 100%;
    height: 30%;
    margin-bottom: 50px;
}

#divMenu{
    padding-top: 30px;
    width: 100%;
    height: 60px;
}

#divMenuLateral{
    width: 100%;
    display: flex;
    padding-left: 40px;
    padding-right: 20px;
}

#btnMenu{
    width: 45px;
    height: 45px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}


#btnMenu:hover{
    width: 47px;
    margin-left: -3px;
    filter:opacity(60%);
}

.abrirMenu{
    cursor: pointer;
    width: 100%;
}

.invertColor{
    filter: invert(100%);
}

#tituloMenu{
    color: white;
    font-size: 26px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    letter-spacing: 3px;
}

.menu-lateral {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: rgb(15, 12, 19);
    color: white;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 999;
    padding-top: 60px;
    padding-left: 15px;
}


.menu-lateral ul {
    list-style: none;
    padding: 0;
}

.menu-lateral ul li {
    margin: 20px 0;
    padding-left: 20px;
}

.menu-lateral ul li a {
    color: white;
    text-decoration: none;
}

.menu-lateral.aberto {
    transform: translateX(0);
}

.secoesMenu{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.secoesMenu:hover{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
}


#areaContatos{
    margin-top: 450px;
}

.nomesContatos{
    font-size:18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
}

.nomesContatos:hover{
    text-decoration: underline;
}

.imgsContatos{
    position: relative;
    top: 5px;
    width: 25px;
    filter: invert(100%);
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 998;
    display: none;
}

#overlay.ativo {
    display: block;
}


#divModoEscuroClaro{
    width: 100%;
    position: relative;
    left: 94%;
    bottom: 30px;
}

#btnOnOff{
    width: 45px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    margin-bottom: 20px;
}

.modoEscuro, .modoClaro{
    width: 100%;
    cursor: pointer;
}

.modoEscuro:hover{
    width: 110%;
    margin-left: -3px;
    margin-right: -3px;
    filter:opacity(60%) ;
}

.modoClaro:hover{
    width: 115%;
    margin-left: -3px;
    margin-right: -3px;
    filter: invert(75%);
}

.hideEscuro, .hideClaro{
    display: none;
}

.linha{
    border: 1px solid rgb(53, 20, 83);
    width: 100%;
    margin: 0;
    display: flex;
}


.linhaTres{
    border: 1px solid rgb(53, 20, 83);
    width: 100%;
    margin: 0;
    display: flex;
    margin-top: 200px;
}

#divMeioInfos{
    width: 100%;
    height: 50%;
    display: flex;
}

#divIntroducao{
    padding-left: 350px;
    padding-top: 100px;
}

#introducao{
    color: white;
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 2px;
    margin-bottom: -35px;
}
#introducaoRoxa{
    color: rgb(72, 24, 117);
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 3px;
}
#divFormacao{
    display: flex;
    margin-right: 250px;
}
#paragrafoFormacao{
    color: rgb(172, 172, 172);
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: -30px;
    margin-right: 5px;
    letter-spacing: 1px;
}

#divEspecialidade{
    display: flex;
    margin-right: 250px;
}

#paragrafoEspecialidades{
    color: rgb(172, 172, 172);
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: -10px;
    letter-spacing: 1px;
}
#paragrafoEspecialidadesRoxo{
    color: rgb(72, 24, 117);
    font-size: 20px;
    font-family: arial black;
    position: relative;
    bottom: 32px;
    left: 1%;
    letter-spacing: 1.5px;
}

#senaiIcon{
    width: 220px;
    position: relative;
    bottom: 78px;
    right: 7.8%;
}

#divImg{
    padding-top: 50px;
    padding-bottom: 50px;
}

#divImgDireita{
    background-color: rgb(53, 20, 83);
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin-top: 50px;
    position: relative;
    margin-left: 200px;
    left: 150px;
    opacity: 0;
    transform: translateY(200px);
    transition: opacity 2s ease, transform 2s ease;
    visibility: hidden;
}
#divImgDireita.visivel {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}
.invisivel {
    opacity: 0;
    transform: translateY(20px);
}


#imgDireita{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    border: 7px solid rgb(53, 20, 83);
    transition: 0.4s;
}

#imgDireita:hover{
    opacity: 0.7;
}

#divSobreMim{
    margin-top: 200px;
    display: block;
    text-align: center;
    opacity: 0;
    transform: translateY(200px);
    transition: opacity 2s ease, transform 2s ease;
    visibility: hidden;
}
#divSobreMim.visivel {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

#tituloSobreMim{
    color: white;
    font-size: 26px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    margin-top: 100px;
}
.descricaoSobreMim{
    max-width: 650px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: rgb(172, 172, 172);
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
    margin-bottom: -10px;
}

#divHabilidades{
    display: block;
    text-align: center;
    opacity: 0;
    transform: translateY(200px);
    transition: opacity 2s ease, transform 2s ease;
    visibility: hidden;
}

#divHabilidades.visivel {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

#tituloHabilidades{
    margin-top: 80px;
    color: white;
    font-size: 28px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
}

#subDescHabilidades{
    color: rgb(160, 160, 160);
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    margin-top: -10px
}

#listaHabilidades{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#listaHabilidadesWrap{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.linhaCard{
    border: 3px solid #8257e6;
    width: 160px;
    margin-top: -2px;
}

.divCard{
    width: 130px;
    height: 180px;
    background-color: white;
    margin: 25px;
    clip-path: polygon(
    0 0,
    100% 0,
    100% 85%,
    50% 100%,
    0 85%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: 0.2s;
    position: relative;
    transition: transform 0.3 ease;
}

.nomeLinguagem{
    color: rgb(53, 20, 83);
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.divImgLinguagem{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.imgLinguagem{
    width: 100%;
    height: 100%;
    object-fit: contain; 
    margin-top: -10px;
    transition: transform 0.3s ease;
}

.descricaoLinguagem {
    display: none; 
    position: absolute;
    left: 110%; 
    top: 50%; 
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.7); 
    color: white;
    padding: 20px;
    width: 300px; 
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); 
    z-index: 100;
    font-size: 14px;
    opacity: 0; 
    pointer-events: none;
    transition: opacity 0.3s ease-in-out; 
  }


/* CARDS HOVER */
.divCard:hover {
    width: 140px;
    height: 185px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(0, 0, 0);
    clip-path: polygon(
    0 0,
    100% 0,
    100% 85%,
    50% 100%,
    0 85%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transform: scale(1.05);
}


.divCard:hover .descricaoLinguagem {
    display: block;
    opacity: 1;
    pointer-events: auto;
}

.divCard:hover .nomeLinguagem{
    color: #8257e6;
}

.divCard:hover .linhaCard{
    border: 4px solid #8257e6;
}

.divCard:hover .imgLinguagem {
    transform: scale(1.0);
}


/* #divSoftHardSkills {
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 400px;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(200px);
    transition: opacity 3s ease, transform 3s ease;
    visibility: hidden;
}

#divSoftHardSkills.visivel{
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}


.softSkills,
.hardSkills {
    max-width: 400px;
    border-radius: 8px;
    color: white;
    text-align: center;
}

.btnSoftSkills, .btnHardSkills{
    width: 200px;
    height: 40px;
    font-size: 17px;
    background-color: transparent;
    border: 2px solid rgb(53, 20, 83);
    border-radius: 10px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}


.btnSoftSkills:hover, .btnHardSkills:hover{
    width: 200px;
    height: 40px;
    font-size: 18px;
    background-color: rgb(53, 20, 83);
    border: none;
    border-radius: 10px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

#divDescricaoSoft,
#divDescricaoHard {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    color: rgb(172, 172, 172);
}

.hideSoftHardSkills{
    display: none;
    transition: 2s;
} */

.linhaDois{
    border: 1px solid rgb(53, 20, 83);
    width: 100%;
    margin: 0;
    display: flex;
    margin-top: 150px;
}

body.modo-claro {
  background-color: rgb(216, 216, 216);
  color: black;
  transition: 0.5s;
}

body.modo-claro #menuLateral{
  background-color: rgb(255, 255, 255);
  color: black;
  transition: 0.5s;
}

body.modo-claro #tituloMenu,
body.modo-claro #introducao,
body.modo-claro #tituloSobreMim,
body.modo-claro #tituloProjetos,
body.modo-claro #tituloContato,
body.modo-claro #divImgDireita,
body.modo-claro #tituloHabilidades {
  color: rgb(107, 62, 148);
}

body.modo-claro .descricaoSobreMim,
body.modo-claro .descricaoSoftSkills,
body.modo-claro .descricaoHardSkills,
body.modo-claro .secoesMenu,
body.modo-claro .nomesContatos,
body.modo-claro #paragrafoFormacao,
body.modo-claro #paragrafoEspecialidades {
  color: #333;
}

body.modo-claro .imgsContatos,
body.modo-claro .invertImgs{
    filter: invert(0%);
}

body.modo-claro .btnSoftSkills,
body.modo-claro .btnHardSkills {
  background-color: white;
  color: rgb(53, 20, 83);
  border: 2px solid rgb(53, 20, 83);
}

body.modo-claro .btnSoftSkills:hover,
body.modo-claro .btnHardSkills:hover {
  background-color: rgb(53, 20, 83);
  color: white;
  border: none;
}

body.modo-claro .divCard {
  background-color: #e2e2e2;
}

body.modo-claro .divCard:hover {
  background-color: #d4d4d4;
}

body.modo-claro .linha,
body.modo-claro .linhaDois {
  border-color: rgb(53, 20, 83);
}

body.modo-claro .nomeLinguagem,
body.modo-claro .linhaCard {
  border-color: rgb(106, 54, 155);
  color: rgb(106, 54, 155);
}


#divImgDireita {
  background-color: rgb(53, 20, 83); 
}

.invertBtn{
    filter: invert(100%);
}

#divMeio2Projetos{
    opacity: 0;
    transform: translateY(300px);
    transition: opacity 2s ease, transform 2s ease;
    visibility: hidden;
}

#divMeio2Projetos.visivel {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

/* PROJETOS */


#divProjetos{
    display: flex;
    max-width: 2000px;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#tituloProjetos{
    margin-top: 150px;
    color: white;
    font-size: 26px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    margin-bottom: 100px;
}


.divImgProj{
    width: 640px;
    height: 350px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    position: relative;
    cursor: pointer;
}

.imgProj{
    width: 100%;
    border-radius: 15px;
    border: none;
    opacity: 0.2;
    display: block;
    z-index: 2;
    position: relative;
    transition: 0.3s;
    border: 3px solid rgb(53, 20, 83);
}

.imgProj:hover{
    width: 105%;
    height: 105%;
    border-radius: 15px;
    border: none;
    transition: 0.2s;
    opacity: 1;
    border: 5px solid rgb(53, 20, 83);
    margin-left: -10px;
}

 .nomeProj:hover.imgProj{
    width: 105%;
    height: 105%;
    border-radius: 15px;
    border: none;
    transition: 0.3s;
    opacity: 1;
    margin-left: -10px;
}

.nomeProj{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    z-index: 5;
}



/* CONTATOS */
#divInferiorContatos{
    display: block;
}
#tituloContato{
    margin-top: 150px;
    margin-bottom: 100px;
    color: white;
    font-size: 26px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
}

#divContatos{
    display: flex;
    gap: 300px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.invertImgs{
    filter: invert(100%);
}

.tamanhoImgs{
    width: 50px;
}

#emailImg, #instaImg, #whatsImg{
    transition: 0.3s;
}

#emailImg:hover, #instaImg:hover, #whatsImg:hover{
    opacity: 0.5;  
}